<!DOCTYPE html>
<html>
  <head>
    <title>Tibum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-hidden-mobile is-active" href="/">Home</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Features</a>
      <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>
      <% if user_signed_in? %>
        <a class="nav-item is-tab">
          <figure class="image is-16x16" style="margin-right: 8px;">

          </figure>
          <%= current_user.email %>
        </a>
        <a class="nav-item is-tab">Sair</a>
      <% else %>
        <a class="nav-item is-tab" href="users/sign_in">
          Login
        </a>
      <% end %>

    </div>
  </div>
</nav>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Tibum
      </h1>
      <h2 class="subtitle">
        Hardware para gamers de verdade
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <%= yield %>
  </section>

</div>

  </body>
</html>
